    body{
	background-color:white;
	margin:0px;
	padding-left: 0px;
	border:0px;
}

#squares div{
    height: 90px;
    width: 90px;
    background-color: black;
    margin: 2px;
    float: left;
}

#squares {
	width: 100vw;
    height: 100vh;
	clear: both;
	position:fixed;
    /*taking it out of the flow, putting it on top*/
}

#surface div{
	width: 5vw;
    height: 5vh;
    margin:4vw;
    border-radius:50%;
	background-color:blue;
	float:left;
}

#surface {
	width: 100vw;
    height: 100vh;
    clear:both;
    /*taking it out of the flow, putting it on top*/
    position:fixed;
}

#circles div{
	height:10vw;
	width:10vw;
	margin:3vw;
	background-color:red;
	border-radius:50%;
	float:right;
}


#circles {
	height:100vw;
	width:100vw;
	clear:both;
	position:fixed;
}


  
