    body{

    	background-color: rgb(255, 237, 250);
    	font-family: 'Shrikhand', cursive;
    	text-align: center;
    	/*margin:200px;*/
    	//border-color: black ;
    	//border-width: 1px;
    	//border-style:solid;
    	/*padding:40px;*/
    }

    #container {
        width:850px;
        margin:auto;
        text-align:left;

    }
    

    h1 {
      	font-weight: normal;
      	font-size: 150px;
      	color: black;
        margin-top:40px;
        margin-bottom:10px;
    }

    h2{
    font-weight: normal;
    font-size: 100px;
    color: yellow;


    }

    h3{
    font-weight: normal;
    font-size: 100px;
    color: black;
    margin-top:30px;
    margin-bottom:0px;
    }
    	


    h4{
    	webkit-transform: rotate (-90deg);
    	//writing-mode: vertical-lr;
  		//text-orientation: sideways-lr;
  		transform:rotate(-90deg);

    }

    a{
    	font-weight:normal;
    	font-size: 55px;
    	color:black;
    	font-family:'Bungee Hairline', cursive ;
    }