body{
	background-color: white;
	height:1000vh;
	width:100vw;
	cursor:default;
}

#abstract {
position:relative;	
height:80vh;
width:90vw;
/*background-color:red;*/
padding-top: 4vh;
padding-left: 2vw;
padding-right: 2vw;
font-family: 'Kavivanar', cursive;
font-size:100px;
line-height:120%;
margin-left:2vw;
margin-right:2vw;
margin-top:5vh;
}



div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left:1vw;
  margin-top:-30vh;
  background-color: rgb(244, 255, 100);
  font-family: 'Kavivanar', cursive;
  font-size:100px;
  clear:both;
  transition: all 600ms ease;
  scroll-behavior: smooth;
  cursor:pointer;
  
}

.letters {
	height:auto;
	width:26vw;
	position:fixed;
	display:block;
}

#r {
 	margin-top:-60vh;
 	margin-left:-2vw;
 	transform: rotate(-20deg);
/* 	display:none;*/
}

#e {
	margin-top: -78vh;
	margin-left: 70vw;
	width: 23vw;
	transform: rotate(12deg);
}

#r:hover {
	transform: rotate(0deg);
	transition:all 600ms ease;

}

#a {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;	
  	width:23vw;
  	margin-top: 115vh;
	margin-left: 80vw;
  	transform: rotate(40deg);
}

#c {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;	
  	width:23vw;
  	margin-top: 55vh;
	margin-left: 20vw;
  	transform: rotate(-5deg);

}

#t {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;	
  	width:24vw;
  	margin-top: 105vh;
	margin-left: 44vw;
  	transform: rotate(-40deg);

}

#b {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;	
  	width: 22vw;
  	margin-top:155vh;
  	margin-left: 33vw;
  	transform: rotate(30deg);
}


#popup {
	background-color:white;
	border-style:solid;
	border-width: 2px;
	border-color:black;
	width: 35vw;
	height: 45vh;
	position:fixed;
	margin-top:-50vh;
	margin-left:35vw;
	z-index: 1;
	overflow:hidden;
	display:none;

}

#popuptext {
	font-family: 'Yatra One', cursive;
	font-size:55px;
	line-height:100%;
	color:green;
	height: 100vh;
	padding-left:15px;
	padding-top: 15px;
	padding-right:15px;
	width: 35vw;
	height: 40vh;
	overflow:scroll;

}

#x {
	font-family: 'Yatra One', cursive;
	font-size:35px;
	line-height:100%;
	color:green;
	padding-left:5px;
	padding-top:5px;
	width: 3vw;
	height: 5vh;
	position:;
	top:0;
	left:0;
	background:transparent;
}

.caption{
	display: none;
	visibility: hidden;

}

.image:hover .caption {
	display: block;
	visibility: visible;
}

.images {
	width:400px;
	position:absolute;
	z-index:2;
	opacity:0.5;
	display:grid;
}

.images:hover{
	opacity:1;
}

/*.images:hover .letters{
	display:none;
}*/

#pc1{
	margin-left: 5vw;
	margin-top: 5vh;
}
#RCA{
	margin-left: 65vw;
	margin-top: 55vh;
}
