body{
	background-color:tomato;
}

#circles div{
    height: 3vw;
    width: 3vw;
    background-color: white;
    margin: 1vw;
    border-radius:50%;
    float: right;
}

#circles .blue{
	height:5vw;
	width:5vw;
	background-color:blue;
}    

